.container {
    background-color: yellow;
    text-align: center;
    margin: 50px;
    padding: 100px;
    width: 100%;
}

#questions {
    text-align: center;
}

#background {
    background-image: url("../images/background.jpg");
}

#button1 {
    text-align: center;
}

#triviaQuestions {
    text-align: center;
}

